---
import "../../assets/styles/general/footer.scss";
---

<footer>
    <div>
        <div>
            <div>
                <h2>TOSTADOR</h2>
                <p>Specialty coffee roasted in Valencia. Shipping worldwide.</p>
            </div>
            <div>
                <p>© 2023 TOSTADOR S.L.</p>
            </div>
        </div>
        <div>
            <h4>Social</h4>
            <a href="#">Instagram</a>
            <a href="#">Twitter</a>
            <a href="#">LinkedIn</a>
        </div>
        <div>
            <h4>Legal</h4>
            <a href="#">Imprint</a>
            <a href="#">Privacy Policy</a>
            <a href="#">Terms of Service</a>
        </div>
    </div>
    <div>
        <h1>CAFFEINE</h1>
    </div>
</footer>
