---
import Icon from "../../shared/icon.astro";

import "../../assets/styles/general/header.scss";
---

<header>
    <div>
        <Icon name="fire" />
        <h2>TOSTADOR_VALENCIA</h2>
    </div>

    <!-- Desktop Nav -->
    <nav>
        <div>
            <a href="#">Shop</a>
            <a href="#">Wholesale</a>
            <a href="#">Journal</a>
        </div>
        <button> Cart (0) </button>
    </nav>
    <!-- Mobile Menu Icon -->
    <button>
        <span>menu</span>
    </button>
</header>
