---
import "../../assets/styles/sections/current-roasts.scss";
---

<section id="current-roasts">
    <div>
        <h2>Current Roasts</h2>
        <span>Updated: 42 mins ago</span>
    </div>
    <!-- Grid Table -->
    <div>
        <div>
            <!-- Table Header -->
            <div>
                <div>Origin</div>
                <div>Varietal</div>
                <div>Altitude</div>
                <div>Process</div>
                <div>Roast Curve</div>
                <div>Action</div>
            </div>
            <!-- Row 1 -->
            <div>
                <div>
                    <span>Ethiopia Yirgacheffe</span>
                    <span>Lot #492-A</span>
                </div>
                <div>Heirloom</div>
                <div>2100 MASL</div>
                <div>Washed</div>
                <div>
                    <div>
                        <div></div>
                    </div>
                    <span>Light</span>
                </div>
                <div>
                    <button>
                        <span>add</span>
                    </button>
                </div>
            </div>
            <!-- Row 2 -->
            <div>
                <div>
                    <span>Colombia Huila</span>
                    <span>Lot #221-C</span>
                </div>
                <div>Pink Bourbon</div>
                <div>1750 MASL</div>
                <div>Natural</div>
                <div>
                    <div>
                        <div></div>
                    </div>
                    <span>Omni</span>
                </div>
                <div>
                    <button>
                        <span>add</span>
                    </button>
                </div>
            </div>
            <!-- Row 3 -->
            <div>
                <div>
                    <span>Kenya AA</span>
                    <span>Lot #881-K</span>
                </div>
                <div>SL-28, SL-34</div>
                <div>1900 MASL</div>
                <div>Washed</div>
                <div>
                    <div>
                        <div></div>
                    </div>
                    <span>Filter</span>
                </div>
                <div>
                    <button disabled="">
                        <span>block</span>
                    </button>
                </div>
            </div>
            <!-- Row 4 -->
            <div>
                <div>
                    <span>Brazil Cerrado</span>
                    <span>Lot #102-B</span>
                </div>
                <div>Mundo Novo</div>
                <div>1100 MASL</div>
                <div>Natural</div>
                <div>
                    <div>
                        <div></div>
                    </div>
                    <span>Espresso</span>
                </div>
                <div>
                    <button>
                        <span>add</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div>
        <a href="#">
            View Full Archive <span>arrow_right_alt</span>
        </a>
    </div>
</section>
