---
import "../../assets/styles/sections/home.scss";
import Clock from "../../shared/clock/clock.astro";
import Icon from "../../shared/icon.astro";
---

<section id="home">
    <div class="container">
        <div class="time-content">
            <div class="time sora-font">
                <Icon name="schedule" />
                <Clock />
            </div>
        </div>
        <div class="title">
            <span>ROASTED</span>
            <span>IN VALENCIA</span>
        </div>
    </div>
    <div class="info">
        <div class="data">
            <p>
                <strong>COORD:</strong>
                <span class="sora-font">39°24'05.7"N</span>,
                <span class="sora-font">0°23'55.6"W</span>
            </p>
            <p>
                <strong>ELEVATION:</strong>
                <span class="sora-font">11 M</span>
            </p>
            <p>
                <strong>HUMIDITY:</strong>
                <span class="sora-font">65%</span>
            </p>
        </div>
        <div class="icon-engine">
            <Icon name="settings" />
        </div>
    </div>
</section>
