---
import "../../assets/styles/sections/home.scss";
---

<section id="home">
    <!-- Header -->
    
    <!-- Hero Content -->
    <main>
        <!-- Dynamic Data Marker -->
        <div>
            <div>
                <span>schedule</span>
                <span>14:05:22 CET • 24.10.2023</span>
            </div>
        </div>
        <!-- Massive Typography -->
        <div>
            <h1>
                Roasted <br />
                <span>in Valencia</span>
            </h1>
        </div>
        <div>
            <div>
                COORD: 39.4699° N, 0.3763° W<br />
                ELEVATION: 15 M<br />
                HUMIDITY: 65%
            </div>
            <div>
                <span>settings</span>
            </div>
        </div>
    </main>
</section>
