---
import "../../assets/styles/sections/home.scss";
import Icon from "../../shared/icon.astro";
---

<section id="home">
    <div>
        <div>
            <span>schedule</span>
            <span>14:05:22 CET • 24.10.2023</span>
        </div>
    </div>
    <div>
        <h1>
            Roasted <br />
            <span>in Valencia</span>
        </h1>
    </div>
    <div>
        <div>
            COORD: 39.4699° N, 0.3763° W<br />
            ELEVATION: 15 M<br />
            HUMIDITY: 65%
        </div>
        <div>
            <Icon name="settings" />
        </div>
    </div>
</section>
