---
import "../../assets/styles/sections/philosophy.scss";
---

<section id="philosophy">
    <!-- Label Column -->
    <div>
        <span>Manifesto 001</span>
    </div>
    <!-- Content Column -->
    <div>
        <div>
            <p>
                LA FRESCURA NO ES NEGOCIABLE. <br />
                IMPORTAMOS ORIGEN, ENTREGAMOS TIEMPO. <br />
                <span>SIN INTERMEDIARIOS.</span>
                <br />
                SIN RETÓRICA. SOLO CAFÉ Y FUEGO.
            </p>
            <div>
                <button>
                    Read Philosophy
                    <span>arrow_forward</span>
                </button>
            </div>
        </div>
    </div>
</section>
