---
import "../../assets/styles/sections/philosophy.scss";
---

<section id="philosophy">
    <!-- Label Column -->
    <div class="label sora-font">
        <span>Manifesto - 001</span>
    </div>
    <!-- Content Column -->
    <div class="content">
        <span>LA FRESCURA NO ES NEGOCIABLE.</span>
        <span>IMPORTAMOS ORIGEN, ENTREGAMOS TIEMPO.</span>
        <span><strong class="accent">SIN INTERMEDIARIOS.</strong></span>
        <span>SIN RETÓRICA. SOLO CAFÉ Y FUEGO.</span>
        <div>
            <button>
                Read Philosophy
                <span>arrow_forward</span>
            </button>
        </div>
    </div>
</section>
