---
import "../../assets/styles/sections/philosophy.scss";
import Icon from "../../shared/icon.astro";
---

<section id="philosophy">
  <!-- Label Column -->
  <div class="label sora-font">
    <span>Manifesto - 001</span>
  </div>
  <!-- Content Column -->
  <div class="content">
    <span>FRESHNESS IS NON-NEGOTIABLE.</span>
    <span>WE IMPORT ORIGIN, WE DELIVER TIME.</span>
    <span><strong class="accent">NO INTERMEDIARIES.</strong></span>
    <span>NO RHETORIC. JUST COFFEE AND FIRE.</span>
    <button>
      Read philosophy
      <Icon name="arrow-right" />
    </button>
  </div>
</section>
