---
import "../../assets/styles/sections/roasting-machine-section.scss";
---

<section id="roasting-machine">
    <div>
        <img
            alt="Roasting Machine"
            data-alt="Industrial black metal coffee roasting machine in a dimly lit warehouse with dramatic hard lighting"
            src="https://lh3.googleusercontent.com/aida-public/AB6AXuDTJF9EDgSkKbgmlMk0f2l2OK-xCtVGiAFhqaR06OPjv_3WXWYlXWjz5nyFdHLV3GzvUs63x7haGUefJzRigm-3Kpp5zd7-7CZ0sqb7lJHgObWptlZUysLqwS1rc6rNYP_lgbbSewfqsoqtYQNtCWPNzS_3GTjpJCYIp-pzJqCJ5H7ReMeNbxp-7pdahzc5btSpvsf033rQSUNErxkcRyVfFkB5IZ_WiXHypchgUDLLoUWcEASr8dr3TYvqqnYAeoOil-BBRU-bCoY"
        />
        <div></div>
        <!-- Technical Overlay -->
        <div>
            <div>
                <h3>Probat G60</h3>
                <span>ACTIVE</span>
            </div>
            <div>
                <span>CAPACITY: 60KG</span>
                <span>TEMP: 210°C</span>
                <span>DRUM SPEED: 48RPM</span>
            </div>
        </div>
    </div>
    <div>
        <div>
            <span>The Factory</span>
            <h2>
                Raw Material.<br />
                Precise Heat.<br />
                Zero Bullshit.
            </h2>
            <p>
                Located in the industrial district of Valencia. Our facility is
                not a café. It is a laboratory dedicated to the thermal
                transformation of green coffee seeds. Visits by appointment
                only.
            </p>
        </div>
        <div>
            <div>
                <img
                    alt="Location Map"
                    data-alt="Abstract map view of Valencia industrial district with grid lines overlay"
                    data-location="Valencia"
                    src="https://lh3.googleusercontent.com/aida-public/AB6AXuBc7b23AIF7GXtpPOCkjtcMmRmKE-Tnp6j4CmHsbZRacRtEGYAXEEH8JtPFTexcBesWjdLmIvoOQhVqAZE-IvixN3c_cjMU9iPbvJFBkFqti-3Xf3kFVbbZIbi7UiUGGOb7u-Q-iqfDcDUHDBwlgZwttiHeo7RpP0bcGQ4RQAO5G6VZGfgOD2A3AH-sAiXreLS8BY8qPhbNMkoWF1HqYkjx3_437FndmcR2JeZqesRGmeUZD80f88dWzjlUMQHWkTdDqLy59elnE-Y"
                />
                <div>
                    <button>
                        <span>near_me</span>
                        Get Directions
                    </button>
                </div>
            </div>
            <div>
                <span>Carrer de la Fusteria, 12</span>
                <span>46001 Valencia, ES</span>
            </div>
        </div>
    </div>
</section>
