@use "../shared/variables" as *;

header {
  border-bottom: 1px solid $primary-color;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: $header-height;
  padding-inline: 1rem;
  background-color: $secondary-color;

  & > .title {
    display: flex;
    align-items: center;
    gap: 1rem;
    text-decoration: none;
    color: inherit;

    & > .icon {
      width: 1.5rem;
      height: 1.5rem;
    }

    & > h2 {
      font-weight: 800;
      margin: 0;
    }
  }

  & > .menu {
    & > nav {
      display: flex;
      align-items: center;
      gap: 2rem;

      & > ul {
        margin: 0;
        padding: 0;
        list-style: none;
        display: flex;
        gap: 2rem;

        & > li > a {
          text-decoration: none;
          color: inherit;

          &.active {
            text-decoration-line: underline;
            text-decoration-color: $accent-color;
            text-decoration-thickness: 2px;
            text-underline-offset: 2px;
          }
        }
      }

      & > a.shop {
        text-decoration: none;
        border: none;
        background-color: $primary-color;
        color: $secondary-color;
        fill: $secondary-color;
        font-weight: 500;
        font-size: 1rem;
        display: flex;
        align-items: center;
        gap: 0.75rem;
        padding: 0.5rem 1rem;
      }
    }

    & > #mobile-menu {
      display: none;
    }
  }

  @media (1000px <= width <= 1450px) {
    & > .menu > nav {
      gap: 1.25vw;

      & > ul {
        font-size: clamp(0.8rem, 2.25vw, 1rem);
        gap: 1.25vw;
      }

      & > a.shop {
        font-size: clamp(0.8rem, 2.25vw, 1rem);
        padding: 0.25rem 0.5rem;
      }
    }

    & > .title {
      gap: 0.25rem;
      font-size: clamp(1rem, 3vw, 1.25rem);

      & > .icon {
        width: clamp(1rem, 3w, 1.25rem);
        height: clamp(1rem, 3w, 1.25rem);
      }

      & > h2 {
        font-size: inherit;
      }
    }
  }

  @media (max-width: 1000px) {
    padding-inline: 0.75rem;

    & > .title {
      gap: 0.75rem;

      & > .icon {
        width: 1.25rem;
        height: 1.25rem;
      }

      & > h2 {
        font-size: 1.25rem;
        font-weight: 800;
        margin: 0;
      }
    }

    & > .menu {
      & > nav {
        display: none;

        &.active {
          display: flex;
          flex-direction: column;
          align-items: stretch;
          z-index: 10;
          position: fixed;
          top: $header-height;
          left: 0;
          right: 0;
          bottom: 0;
          background-color: $secondary-color;
          font-size: 1.5rem;

          & > ul {
            flex: 1;
            display: flex;
            flex-direction: column;
            align-items: stretch;
            justify-content: center;
            gap: 4rem;

            & > li > a {
              display: block;
              text-align: center;
            }
          }

          & > a {
            flex: 0;

            & > span {
              margin: auto;
            }
          }
        }
      }

      & > button#mobile-menu {
        display: block;
        border: none;
        background-color: unset;

        &.active {
          & > svg.icon-menu {
            display: none;
          }
        }

        &:not(.active) {
          & > svg.icon-close {
            display: none;
          }
        }

        & > svg {
          width: 2rem;
          height: 2rem;
        }
      }
    }
  }
}
