@use "../shared/variables" as *;

header {
    border-bottom: 2px solid $primary-color;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: $secondary-color;

    & > .title {
        display: flex;
        align-items: center;
        gap: 1rem;

        & > .icon {
            width: 1.5rem;
            height: 1.5rem;
        }

        & > h2 {
            font-weight: 800;
            margin: 0;
        }
    }

    & > .menu > nav {
        display: flex;
        align-items: center;
        gap: 2rem;

        & > ul {
            margin: 0;
            padding: 0;
            list-style: none;
            display: flex;
            gap: 2rem;

            & > li > a {
                text-decoration: none;
                color: inherit;
            }
        }

        & > a.shop {
            text-decoration: none;
            border: none;
            background-color: $primary-color;
            color: $secondary-color;
            fill: $secondary-color;
            font-weight: 500;
            font-size: 1rem;
            display: flex;
            align-items: center;
            gap: 0.75rem;
            padding: 0.5rem 1rem;
        }

        & > .mobile-menu {
            display: none;
        }
    }
}
