---
import Header from "./general/header.astro";
import Footer from "./general/footer.astro";

import Home from "./sections/home.astro";
import Philosophy from "./sections/philosophy.astro";
import CurrentRoasts from "./sections/current-roasts.astro";
import RoastingMachine from "./sections/roasting-machine.astro";

import "../assets/styles/general-styles.scss";
---

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <title>Coffee roaster</title>
        <link
            rel="preload"
            href="/fonts/syne-variablefont_wght-webfont.woff2"
            as="font"
            type="font/woff2"
            crossorigin
        />
    </head>
    <body>
        <Header />

        <!-- SECTION 1: HEADER -->
        <Home />

        <!-- SECTION 2: PHILOSOPHY -->
        <Philosophy />

        <!-- SECTION 3: CURRENT ROASTS -->
        <CurrentRoasts />

        <!-- SECTION 4: ROASTING MACHINE -->
        <RoastingMachine />

        <!-- FOOTER -->
        <Footer />
    </body>
</html>
