---
import Header from "../layout/header/header.astro";
import Footer from "../layout/footer.astro";

import Home from "./sections/home.astro";
import Philosophy from "./sections/philosophy.astro";
import CurrentRoasts from "./sections/current-roasts.astro";
import RoastingMethod from "./sections/roasting-method.astro";

import "../assets/styles/general-styles.scss";
---

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta name="generator" content={Astro.generator} />
        <title>Coffee roaster</title>
        <link
            rel="preload"
            href="/fonts/Syne-VariableFont_wght.ttf"
            as="font"
            crossorigin
        />
        <link
            rel="preload"
            href="/fonts/Sora-VariableFont_wght.ttf"
            as="font"
            crossorigin
        />
    </head>
    <body>
        <Header />

        <div id="content">
            <!-- SECTION 1: HEADER -->
            <Home />

            <!-- SECTION 2: PHILOSOPHY -->
            <Philosophy />

            <!-- SECTION 3: CURRENT ROASTS -->
            <CurrentRoasts />

            <!-- SECTION 4: ROASTING MACHINE -->
            <RoastingMethod />

            <!-- FOOTER -->
            <Footer />
        </div>
    </body>
</html>
