---
import Header from "../shared/header.astro";
import Footer from "../shared/footer.astro";

import Home from "./sections/home.astro";
import Philosophy from "./sections/philosophy.astro";
import CurrentRoasts from "./sections/current-roasts.astro";
import RoastingMachine from "./sections/roasting-machine.astro";
---

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <title>Coffee roaster</title>
    </head>
    <body>
        <Header />

        <!-- SECTION 1: HEADER -->
        <Home />

        <!-- SECTION 2: PHILOSOPHY -->
        <Philosophy />

        <!-- SECTION 3: CURRENT ROASTS -->
        <CurrentRoasts />

        <!-- SECTION 4: ROASTING MACHINE -->
        <RoastingMachine />

        <!-- FOOTER -->
        <Footer />
    </body>
</html>
