---
import "../../assets/styles/shared/clock.scss";
---

<div class="clock-container">
    <div id="loader" class="loader-text">Loading current time...</div>

    <div id="clock-content" style="display: none;">
        <span id="time" class="time-text"></span>
        <span class="separator">|</span>
        <span id="date" class="date-text"></span>
    </div>
</div>

<script src="./clock.js"></script>
