section#home {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 2rem;
    background-color: rgb(255, 250, 250);
    box-sizing: border-box;

    > div:nth-child(1) {
        display: flex;
        justify-content: flex-end;

        div {
            background-color: #007bff;
            color: white;
            padding: 0.5rem 1rem;
            border: 2px solid #000;

            span:first-child {
                display: none;
            }
        }
    }

    > div:nth-child(2) {
        text-align: center;

        h1 {
            font-size: 10vw;
            font-weight: 800;
            line-height: 1;
            text-transform: uppercase;
            margin: 0;

            span {
                font-weight: 400;
            }
        }
    }

    > div:nth-child(3) {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        border-top: 1px solid #000;
        padding-top: 1rem;

        div:first-child {
            font-family: monospace;
            font-size: 0.8rem;
        }

        div:last-child {
        }
    }
}
