@use "../shared/variables" as *;

section#home {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1rem 2rem;
    box-sizing: border-box;

    & > .container > .time-content {
        display: flex;
        justify-content: flex-end;
        margin-bottom: 1rem;
        font-size: 0.75rem;

        & > .time {
            display: flex;
            align-items: center;
            margin-right: 1rem;
            background-color: $accent-color;
            color: $secondary-color;
            fill: $secondary-color;
            border: 2px solid $primary-color;
            padding: 0.25rem;
            -webkit-box-shadow: 6px 6px 0px 0px $primary-color;
            box-shadow: 6px 6px 0px 0px $primary-color;

            & > svg {
                margin-right: 0.5rem;
            }
        }
    }

    & > .container > .title {
        font-size: 3rem;
        line-height: 1.5;

        span {
            font-weight: 900;
            display: block;

            &:first-child {
                text-align: start;
                margin-right: 2rem;
            }

            &:nth-child(2) {
                text-align: end;
                margin-left: 2rem;
            }
        }
    }

    & > .info {
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-top: 1px solid #000;
        padding-top: 1rem;

        & > .data {
            font-size: 0.8rem;
        }

        & > .icon-engine > .icon {
            height: 4rem;
            width: 4rem;
        }
    }
}
