@use "../shared/variables" as *;

section#philosophy {
  display: flex;

  & > .label {
    border-right: 1px solid $primary-color;

    & > span {
      transform: rotate(270deg);
      font-size: 0.75rem;
      padding: 0.25em;
      margin-top: 4rem;
      background-color: $primary-color;
      color: $secondary-color;
      text-transform: uppercase;
      text-align: center;
      display: inline-block;
      white-space: nowrap;
      overflow: visible;
    }
  }

  & > .content {
    width: 100%;
    padding: 2.75rem;
    color: $primary-color;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    text-align: justify;
    font-size: 3.25vw;
    font-weight: 600;

    & > span > strong {
      font-size: 5.5vw;
      font-weight: 700;
    }

    & > button {
      border: 1px solid $primary-color;
      background-color: transparent;
      font-size: 2vw;
      color: $primary-color;
      fill: $primary-color;
      margin: 1rem 0.5rem;
      padding: 0.5rem 1rem;
      display: flex;
      align-items: center;
      cursor: pointer;
      gap: 0.5rem;

      &:hover {
        background-color: $primary-color;
        color: $secondary-color;
        fill: $secondary-color;
      }


      & > svg {
        width: 2vw;
        height: 2vw;
      }
    }
  }
}
