@use "./shared/variables" as *;

@font-face {
    font-family: "Syne";
    src: url("/fonts/syne-variablefont_wght-webfont.woff2") format("woff2");
    font-weight: 100 900;
    font-style: normal;
    font-display: fallback;
}
html {
    font-family: "Syne", sans-serif;
    font-size: 30px;

    body {
        margin: 0;
        padding: 0;
    }
}
